/*HEADER*/

/*-------ACCOMMODATION-----*/
#header-accommodation {
    background-image: url("./images/accomodation.webp");
    background-position-y: 80%;    
}
   

/***********************************/
/*--------ENJOY-------*/

/*HEADER*/

#header-enjoy {
    background-image: url("./images/enjoy.webp");
    background-position-y: 30%;   
}
/*************************************************
/*--------------PROVIDERS--------------------*/
#header-providers {
    background-image: url("./images/providers.webp ");
    background-position: center; 
}

/*********************************/
/*-------------FEEDBACK-------------*/
#header-feedback {
    background-image: url("./images/feedback.webp");
    background-position: center;  
    }   
    
      

/*FORM TRANSPORTATION*/

#nCity {
    color: white;
    font-weight: bold;
}

#transportationFromTo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}
#transportationFromTo div {
    padding: 5px;
}


/*ADD FEEDBACK ABOUT TRANSPORTATION*/

.message-range {
    background-color: darkcyan;
    color: white;
    padding: 5px;
}

    