/*HEADER*/

/*-------ACCOMMODATION-----*/
#header-accommodation {
    background-image: url("./images/accomodation.webp");
    background-position-y: 80%;    
}
   

/***********************************/
/*--------ENJOY-------*/

/*HEADER*/

#header-enjoy {
    background-image: url("./images/enjoy.webp");
    background-position-y: 30%;   
}
/***********************************/
/*----------LIFE--------------------*/
 /*HEADER*/
        
 #header-life {
    background-image: url("./images/city_lights.webp");
    background-position-y:75%;    
}
/*************************************************
/*--------------PROVIDERS--------------------*/
#header-providers {
    background-image: url("./images/providers.webp ");
    background-position: center; 
}

/*********************************/
/*-------------FEEDBACK-------------*/
#header-feedback {
    background-image: url("./images/feedback.webp");
    background-position: center;  
    }   
    

    /*NAVIGATION*/
     
    
    /*WRAPPER*/      
    .wrapper {
        padding: 20px;
    }

    /*SECTION-FIRST*/    
    .section-first {
        text-align: center;        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    figcaption{
         color: slategray;
    }
    figcaption:hover{
        color: darkcyan;
    }
    .section-first figure {
        width: 150px;
        padding: 10px;
        margin: auto;
        font-weight: bold;       
    }
    .section-first figure:hover {
        transform: scale(1.2);
    }    
    .section-first figure img {
        width: 130px;
        height: 130px;
        border: solid 1px white;
        margin: 10px;
        box-shadow: gray 0px 0px 10px;
        transition: transform .2s;
    }   
    h2 {
        color: black;
        padding: 4%;
        font-size: medium;
    }
/***SECTION-SECOND**/
.section-second{
    padding-top: 50px;
}
 /*ADD COMMENT--ACCOMMODATION*/
/*SHOW TRANSPORTATION -- ENJOY*/
/*SHOW TRANSPORTATION -- LIFE*/
/*SHOW TRANSPORTATION -- PROVIDERS*/

#showTransportation,
#user-comment {
border: darkcyan solid 1px;
border-radius: 10px;
margin: 10px;
padding: 10px;
}

.middle-wrapper {
border-radius: 10px;
margin: 10px;
padding: 10px;
}

.provider-div,
.user-comment {
border: darkcyan dashed 4px;
padding: 40px;
margin: 40px;
}
textarea{
    width: 100%;
}
.provider,
.provider-detail {
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
padding: 10px;
}

.fa {
font-size: 25px;
}

.checked {
color: darkcyan;
}

.provider-logo {
height: 80px;
width: 240px;
}

.left,
.right {
width: 50%;
padding: 5px;
}


/*COMMENT-ACCOMMODATION*/
/*COMMENT --ENJOY*/
/*COMMENT -- LIFE*/

.comment {
    border: double 1px grey;
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.user{
    padding: 10px;
    width: 130px;
}
.text-comment {
    width: 50%;
    padding: 10px;
}
.text-comment h2 {
    padding: 0px 0px 15px 0px;
}
input[type="checkbox"],
input[type="radio"] {
    width: 15px;
}
.range{
    padding: 5px;
}

.fa {
    font-size: 20px;
}
.checked {
    color: darkcyan;
}

/*FORM TRANSPORTATION*/

#nCity {
    color: white;
    font-weight: bold;
}

#transportationFromTo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}
#transportationFromTo div {
    padding: 5px;
}


/*ADD FEEDBACK ABOUT TRANSPORTATION*/

.message-range {
    background-color: darkcyan;
    color: white;
    padding: 5px;
}

    /*FOOTER*/

    footer {
        background-color: black;
        color: white;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        padding: 1% 3%;
    }
    footer div{
        color: grey;
        font-size: 12px;
    }
/*RESPONSIVE*/    

@media screen and (max-width: 800px){
    
    .provider-logo {
        width: 150px;
        height: 50px;
    }
    .provider-div,
   .user-comment {
        border: darkcyan dashed 2px;
        padding: 15px;
        margin: 15px;
    }
    .comment{
        flex-direction: column;
        align-content: center;
        padding: 10px;
    }
    .text-comment{
        width: 100%;
    }
    p{
        font-size: 10px;
    }
    h1{
        font-size: medium;
    }
    h2{
        font-size: small;
    }
    .heading{
        font-size: x-small;
    }
}
@media screen and (max-width: 650px){
    
   
    #showTransportation,
    #user-comment {
        border: darkcyan solid 1px;
        border-radius: 10px;
        margin: 5px;
        padding: 5px;
    }
   .middle-wrapper {
        border-radius: 10px;
        margin: 5px;
        padding: 5px;
    }
    .provider-detail{
        flex-direction: column;
    }
    .left,
    .right {
        width: 100%;
        padding: 5px;
}
   
}
@media screen and (max-width: 500px){   
    button {
        width: 100%;
    }
}