nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 10vh;
    background-color: rgb(54, 63, 66);
    color: white;
}
.nav-link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    list-style: none;
}